@media (max-width: 1440px){
  header{
    max-width: 1280px;
  }
}

@media (max-width: 1280px){
  header{
    max-width: 1024px;
  }
}

@media (max-width: 1024px){
  header{
    position: relative;
    display: block;
  }
  nav{
    /* display: none; */
  }

  nav ul{
    display: block; 
    list-style-type: none;
    position: absolute;
    top: 80px;
    right: 30px;
    text-align: end;
    height: 50vh;
    /* background-color: rgb(94, 53, 3); */
    font-size: 1.35rem;
    z-index: 2;
  }

  .nav ul li{
    margin-bottom: 190px;
  }

  nav ul li a{
    margin-bottom: 120px; 
  } 

  .burger__menu{
    width: 30px;
    height: 28px;
    display: inline;
    position: absolute;
    right: 30px;
  }
  
}