*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

body{
  
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  /* background-color: #0A0A09; */
  background-color: #d8d8d8;
  /* z-index: -100; */
  border: 1px solid red;
}

header{
  margin: auto;
}

.container{
  /* position: relative; */
  max-width: 1440px;
  margin: auto;
}



.header {
  margin: auto;
  display: flex;
  width: 100%;
  height: 74px;
  /* margin: auto; */
  /* justify-content: space-between; */
  align-items: end;
  margin-bottom: 13px; 
  /* margin-bottom: 140px; */
}

.burger__menu{
  display: none;
  /* position: relative; */
  
  width: 37px;
  height: 37px;
  background: transparent;
  border: 0;
  position: absolute;
  right: 30px;
  z-index: 3;
}
.burger__menu__span{
  /* position: absolute; */
  display: block;
  margin: 10px 0px;
  width: 100%;
  height: 5.5%;
  background-color: #5DBEB4;
}

.burger__menu__span:first-child{
  margin-top: 0px;
}
/* .burger__menu__span:last-child{
  top: 30px;
} */

.header img{
  width: 95px;
  height: 33.62px;
  margin-right: 100px;
  padding: 0px 30px;
}

nav{
  width: 100%;
}

nav ul{
  /* width: 100%; */
  display: flex; 
  list-style-type: none;
  justify-content: space-between;
  /* margin: auto; */
  /* float: right; */
}

/* .menu__not__active{
  transition: 300ms;
  transform: translateY(300px);
} */

nav ul li{
  /* margin: auto; */
  /* margin-bottom: 140px; */
}

nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4); 
} 

nav ul li a:hover{ 
  color: #5CBDB3;
}

nav ul li:last-child{
  color: #FFFFFF;
}

.hero1{
  position: relative;
  color: white;
  height: 1058px;
  width: 1440px;
  margin: auto;
  padding: 0px 30px;
}

.hero1 h1{
  font-weight: 700;
  font-style: italic;
  padding-top: 117px;
  margin-bottom: 48px;
  font-size: clamp(40px, 3.5vw, 70px);
  line-height: 100%;
}

/* 1400px / 70px = 20 */
/* 1vw = 20px */
/* 70px / 20px = 3.5vw */
.hero1 h3{
  font-weight: 500;
  /* font-size: 30px; */
  font-size: clamp(18px, 3.5vw, 30px);
  line-height: 100%;
  margin-bottom: 48px;
}

.hero1 button, .button__page__card{
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  width: 252px;
  height: 63px;
  border: 0;
  border-radius: 30px;
  /* background: #DBB500; */
  background: linear-gradient(90deg,rgba(219, 181, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
  transition: all 300ms ease;
}

.hero1 button{
  box-shadow: 0px 0px 20px 0px #D6A500;
}

.hero1 button:hover, .button__page__card:hover{
  transform: scale(1.1);
}

.hero1 .map{
  position: absolute;
  top: 0;
  left: 0;
  width: 1326px;
  height: 784px;
  z-index: -2;
}

.div__car{
  
}

.hero1 .car__span{
  position: absolute;
  /* width: 637px; */
  width: clamp(10px, 100vw, 637px);
  /* height: clamp(80vw, 80vw, 240px); */
  /* height: clamp(10px, 80vw, 240px); */
  height: 240px;
  top: 334.5px;
  right: 125px;
  border: 100px;
  border-radius: 100%;
  /* background-color: #5cbdb39a; */
  box-shadow: 0px 0px 110px 80px #5CBDB3;
  z-index: -2;
}

.hero1 .car{
  width: clamp(300px, 100vw, 878px);
  position: absolute;
  top: 234.5px;
  right: 0;
  z-index: -1;
}

.hero2{
  position: relative;
  width: 1440px;
  /* height: calc(2161px+49px); */
  margin: auto;
  margin-bottom: 12px;
}

.hero2>h1:first-child{
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  font-size: clamp(32px, 3.5vw, 48px);

  text-align: center;
  margin-bottom: 75px;
  color: white;
}

.hero2>h1:first-child>span{
  color: #d4cc7b;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 377px);
  grid-template-rows: repeat(4, 510px);
  gap: 20px;
  justify-content: center;
  padding: 0px 30px;
}

.card__wrapper{
  margin: 0px 20px;
}

.card{
  /* width: 377px; */
  /* width: minmax(300px, 50vw); */
  /* height: 500px; */
  border: 1px solid #7E7E7E66;
  box-shadow: 0px 4px 10px 0px #7C7C7C33;
  border-radius: 10px;
  color: white;
  background-color: #0B0D0F;
}

.card__header__wrapper{
  display: flex;
  margin-top: calc(calc(52px - 33px)/2);
}



.card__header{
  display: flex;
  align-items: center;
  margin: auto;
  font-size: clamp(18px, 3.5vw, 24px);
}

.card__header>:first-child{
  /* display: flex;
  align-items: start; */
  /* margin: auto; */
}


.logo__car{
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  /* padding-top: 16px; */
  /* padding-bottom: 12px; */

}

.name__car{
  font-size: 24px;
  font-weight: 400;
}

.name__car>span{
  color: #d4cc7b;
}

.card__image{
  margin: auto;
  /* width: 338px; */
  /* width: clamp(100px, 30vw, 338px); */
  width: minmax(30vw, 338px);
  /* height: 199px; */
  height: minmax(20vw, 199px);
  margin-bottom: 24px;
}

.properties__car{
  color: #B3B5B7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 24px;
  /* justify-items: center; */
  /* background-color: #5CBDB3; */
}

.one__property__car{
  /* border: 1px solid red; */
}

.one__property__car>p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  
}

.property__image{
  position: relative;
  /* border: 1px solid rgb(51, 241, 13); */
  /* margin: auto; */
  text-align: center;
  margin-bottom: 0;
  font-size: 0;
}
.property__image>img{
  /* background-color: #0c2ad3; */
}
.property__year, .engine__capacity{
  position: absolute;
  /* margin-left: 3px;
  top: 22px; */
}

.property__year{
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  top: 22px;
  margin-left: calc(calc(calc(82.65px - 54px)/2) + 3px);
}

.engine__capacity{
  font-size: 18px;
  font-weight: 400;
  left: 30px;
  top: 22px;
}

.rental__price{
  margin-bottom: 24px;
}

.rental__price>p{
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.card__wrapper:last-child{
  /* text-align: center; */
}

.a__rental{
  width: 281px;
  margin: auto;
}

.a__rental>a{
  text-decoration: none;
}
.a__rental>a>button{
  display: block;
  background: transparent;
  width: 281px;
  height: 59px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid #ECD774;
  border-radius: 30px;
  line-height: 59px;
  transition: all 300ms ease;
}

.a__rental>a>button:hover{
  background-color: #ECD774;
  color: black;
}

.bg__logo__bmw{
  z-index: -2;
  position: absolute;
  left: 30px;
  top: 227px;
}
.bg__logo__kia{
  z-index: -2;
  position: absolute;
  left: 27px;
  bottom: 342px;
}
.bg__logo__vw{
  z-index: -2;
  position: absolute;
  right: 400px;
  bottom: 86px;
}
.bg__logo__mercedes{
  z-index: -2;
  position: absolute;
  right: 1px;
  top: 779px;
}



.hero3{
  margin: auto;
  position: relative;
  width: 1440px;
  height: 811px;
  color: white;
  text-align: center;
  border: 1px solid #242626;
  background-color: #161616;
  box-shadow: 0px 0px 20px 0px #252525CC;
  z-index: 2;
  margin-bottom: 30px;
}

.hero3>h1{
  font-size: clamp(32px, 3.5vw, 48px);
  font-style: italic;
  padding-top: 88px;
  margin-bottom: 130px;
}

.hero3>h1>span{
  color: #d4cc7b;
}

.conditions{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  /* z-index: 5; */
}

.condition__one{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}

.condition__image{
  align-self: center;
}

.condition__image>img{
  /* width: clamp(40px, 4vw, 80px); */
}

.condition__one>p{
  text-align: center;
}

.condition__button{
  background: transparent;
  background-color: #ECD774;
  width: 211px;
  height: 41px;
  border: 0;
  border: 1px solid #F8B500;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #EFAC00;
  color: black;
  font-weight: 400;
  font-size: 24px;
  /* z-index: 5; */
  transition: all 300ms ease;
}

.condition__button:hover{
  transform: scale(1.1);
}

.condition__bg__car{
  width: clamp(300px, 100vw, 890px);
  position: absolute;
  transform: rotateY(180deg);
  left: 0;
  top: 380px;
  /* top: 580px; */
  /* background-color: red; */
  z-index: -1;
}

.hero4{
  width: 1440px;
  height: 695px;
  border: 1px solid #242626;
  background-color: #161616;
  box-shadow: 0px 0px 20px 0px #252525CC;
  padding-top: 89px;
}

.rent__car{
  /* margin-top: 89px; */
  padding-top: 59px;
  width: 814px;
  height: 518px;
  background-color: #050C14;
  border: 1px solid #888888;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px #000000;
  text-align: center;
  margin: auto;
}

.rent__car>form>h1{
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  color: #D4CC7B;
  margin-bottom: 74px;
}

.rent__selects{
  max-width: 637px;
  /* max-height: 245px; */
  display: grid;
  grid-template-columns: repeat(2, 277px);
  grid-template-rows: repeat(4, 36px);
  margin: auto;
  gap: 36px 80px;
  margin-bottom: 36px;
}

#car{
  grid-column: 1/3;
}

.rent__selects>select, .rent__car>form>button{
  font-size: 20px;
  font-weight: 400;
}

.rent__car>form>button{
  background-color: #ECD774;
  border: 1px solid #F8B500;
  border-radius: 10px;
  width: 211px;
  height: 35px;
  transition: all 300ms ease;
}

.rent__car>form>button:hover{
  transform: scale(1.1);
}

.hero5{
  position: relative;
  height: 867px;
}

.hero5>h1{
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  color: #D4CC7B;
  margin-top: 78px;
  margin-bottom: 90px;
  text-align: center;
}

.reviews{
  
  width: 886px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 248px);
  grid-template-rows: 405px;
  gap: 72px;
  margin-bottom: 36px   ;
}

.review{
  /* width: 248px;
  height: 405px; */
}

.review__img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid white;
}

.circles{
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(3, 21px);
  justify-content: center;
  gap: 13.13px;
}

.circle__one{
  background-color: #C4C4C466;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.circle__one:first-child{
  background-color: #C4C4C4;
  box-shadow: 0px 0px 10px 0px #FFFFFF40;
}

.review__bg_car{
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(30deg);
  filter: brightness(.4);
  z-index: -2;
}

footer{
  background-color: #000000;
}



.footer{
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* margin: auto; */
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.privacy__policy{
  font-size: 18px;
  text-align: center;
}

.font__weight__700{
  font-weight: 700;
}

.footer__logo__company{
  display: block;
}

.one__block:first-child>:nth-child(1){
  margin-top: 30px;
}

.one__block:first-child>:nth-child(1n){
  margin-bottom: 30px;
}

.one__block:nth-child(2)>:nth-child(1n){
  margin-bottom: 24px;
}
.one__block:last-child>:nth-child(1n){
  margin-bottom: 44px;
}

.phone__number{
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  gap: 12px 7px;
}

.img__social__networks{
  display: block;
  transition: all 500ms ease;
}
.img__social__networks:hover{
  transform: scale(1.5);
}

.logo__social__networks{
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}